
body {
	background-color: rgb(79, 89, 97);
	color: rgb(255, 255, 255);
	font-size: 16px;
	margin: 0px auto;
	width:80%;
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: rgb(209, 233, 255);
	padding: 20px 10px;
}

p {
	margin: 8px 0px;
}

h1 {
	font-size: 2em;
	color: rgb(18, 72, 116);
	margin: 8px 0px;
}

h2 {
	font-size: 1.5em;
	color: rgb(225, 241, 255);
	margin: 8px 0px;
}

h3 {
	font-size: 1.5em;
	color: rgb(255, 157, 52);
	
}

h4 {
	color: rgb(74, 222, 1);
	font-size: 1.3em;
}

a {
    color: rgb(255, 255, 255);
	text-decoration-line: none	
}

nav li {
	display: inline-block;
	font-size: 1.2em;
	padding-top: 10px;
}

#block-content {
	padding: 40px 20px;
	text-align: center;
}

#portfolio_div {
	display: inline-block
}

.blink_me {
	float: right;
	animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }