{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">404 not found | Pyramid Stocks App</span> </h1>
    <p><span class="smaller">Peter: "Egon, this reminds me of the time you tried to drill a hole in your head, remember that?"</span></p>
    <p><span class="smaller">Egon: That would have worked if you didn’t stop me.</span></p>
  <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
</div>
{% endblock content %}
