<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{request.static_url('pyramid_stocks:static/base/reset.css')}}">
    <link rel="stylesheet" href="{{request.static_url('pyramid_stocks:static/base/base.css')}}">
    <link rel="stylesheet" href="{{request.static_url('pyramid_stocks:static/layout/layout.css')}}">
    <title>Pyramid Stocks</title>
</head>
<header>
<h1>Pyramid Stocks App</h1>
<h2>Python 401 | Keith Eckert</h2>
</header>
<body>
    <nav>
      <ul>
        <li><a href="{{request.route_url('home')}}">Home</a></li>
        <li><a href="{{request.route_url('portfolio')}}">Portfolio</a></li>
        <li><a href="{{request.route_url('stock-add')}}">Add Stock</a></li>
        <li><a href="{{request.route_url('detail')}}">Detail</a></li>
        <li><a href="{{request.route_url('auth')}}">Login/Register</a></li>
      </ul>  
    </nav>
    <div id="block-content">
    {% block content %}

    {% endblock content %}
    </div>




    <div>
        <h2>GET RICH QUICK!</h2>
    </div>  
</body>
</html>