{% extends "base.jinja2" %}

{% block content %}

<h2>Welcome to the Pyramid Stocks App</h2>
<p><a href="{{request.route_url('auth')}}">Please sign in or create an account to begin.</a></p>

{% endblock content %}