{% extends "base.jinja2" %}

{% block content %}

<h2>Current Portfolio</h2>

<ul>
    {% for company in companies %}
    <li>
        <h3>NAME: {{company.companyName}}</h3>
        <p>SYMBOL: {{company.symbol}}</p>
        <p>EXCHANGE: {{company.exchange}}</p>
        <p>WEBSITE: {{company.website}}</p>
        <p>CEO: {{company.CEO}}</p>
        <p>INDUSTRY: {{company.industry}}</p>
        <p>SECTOR: {{company.sector}}</p>
        <p>ISSUE-TYPE: {{company.issueType}}</p>
        <p>DESCRIPTION: {{company.description}}</p>
        <p>------------------------------------------</p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}