{% extends "base.jinja2" %}

{% block content %}
    <div id='login'>
    <p>LOGIN</p>
        <button id='login-button'></button>
        <button id='logout-button'></button>
    </div> 
{% endblock content %}