<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Add</title>
</head>
<body>
    <div id='searchbar'>searchbar goes here</div>
    <button id='add_to_portfolio'>Add to Portfolio</button
    
</body>
</html>